<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projet 1-01</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>

  <!-- 
  v-bind dans une balise html pour la connecte a une propriete du model
  v-model dans une balise html du formulaire pour relier son contenu a une propriete du model
   -->

  <div id="app">

    <div class="container">
      <input type="checkbox" id="gras" v-model="bold">
      <label for="gras">Gras</label>

      <input type="checkbox" id="italique" v-model="italic">
      <label for="italique">Italique</label>

      <input type="checkbox" id="souligne" v-model="underline">
      <label for="souligne">Souligne</label>
      <p :class="{gras:bold,italique:italic,souligne:underline}">
        Un peu de texte
      </p>
    </div>

  </div>

  <style>
    .red {
      color: red;
    }

    .souligne{
      text-decoration: underline;
    }
    .gras {
      font-weight: bold;
    }
    .italique {
      font-style: italic;
    }

    li {
      list-style: none;
    }
  </style>
  <script>
    // vue model
    const app = Vue.createApp({
      data() {
        return {
          bold:false,
          italic:false,
          underline: false
        }
      },
      methods: {
        add() {
          if (this.lang.trim() !== '') { // Éviter les entrées vides
            this.langages.push({
              lang: this.lang,
              etatCase: false
            });
            this.lang = '';
          }
        },
        del(i) {
          this.langages.splice(i, 1);
        }
      }
    });
    const vm = app.mount('#app');
  </script>
</body>

</html>